<div class="container d-flex">
  <div class="vid container" *ngFor="let video of videos">
    <div class="video-card" [appHighlight]="video.likes === mostLikedVideo.likes">
      <img src="{{ video.thumbnail }}" style="width: 220px; height: 210px;">
    </div>
    <div>
      <h4>{{ video.title }}</h4>
    </div>
    <div class="details" [appStyle]="{ 'background-color': active ? 'Green' : 'red', 'color': 'white', fontWeight: 'bold' }">
      <div class="video-data">
        <mat-icon>thumb_up</mat-icon>{{ video.likes }}
      </div>
      <div class="video-data">
        <mat-icon>thumb_down</mat-icon>{{ video.dislikes }}
      </div>
      <div class="video-data">
        <mat-icon>reply_all</mat-icon>{{ video.share }}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <button class="btn btn-notice btn-danger" (click)="notification()">Show notice</button>
  <div class="info-container notice" *ngIf="display; else elseTemplate">
    <button (click)="closeNotification()"><i class="material-icons">close</i></button>
    <h3>This is an important notice!</h3>
    <p>This is a notice issued for all website users.</p>
  </div>
</div>

<ng-template #elseTemplate>
  <p>This is the else paragraph example</p>
</ng-template>



<!-- <ng-template [ngIf]="display" >
  <div class="info-container notice"  >
    <h3>This is an important notice!</h3>
    <p>This is a notice issued for all website users.</p>
  </div>
</ng-template> -->



